.form__container{
    background: #080d18ed;
}
.form__title{
    color: #fff;
    font-size: 35px;
    font-family: sans-serif;
    margin-bottom: 10px;
}
.form__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form__container{
    padding: 50px;
}
.form__socials{
    padding-right: 40px;
}
.left__box{
    max-width: 550px;
    padding-left: 30px;
}
.form__text{
    font-size: 18px;
    font-family: sans-serif;
    color: #8c8888;
    line-height: 30px;
}
.form__input{
    width: 300px;
    height: 50px;
    padding: 10px;
    border: none;
}
.form__btn{
    width: 150px;
    height: 50px;
    border: none;
    font-weight: bold;
    background: #68afd1;
    color: #fff;
}