.form {
  width: 100%;
  background: #080d18ed;
  padding: 50px 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.form__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  flex-wrap: wrap; 
  box-sizing: border-box;
}


.left__box {
  max-width: 550px;
  padding-left: 30px;
  margin-bottom: 20px; 
}

.form__title {
  color: #fff;
  font-size: 35px;
  font-family: sans-serif;
  margin-bottom: 10px;
}

.form__text {
  font-size: 18px;
  font-family: sans-serif;
  color: #8c8888;
  line-height: 30px;
}


.form__socials {
  display: flex;
  gap: 15px;
  padding-right: 40px;
  flex-wrap: wrap; 
}

.form__input {
  flex: 1; 
  min-width: 200px;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
}

.form__btn {
  width: 150px;
  height: 50px;
  border: none;
  font-weight: bold;
  background: #68afd1;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.form__btn:hover {
  background: #5591b0;
}

@media (max-width: 992px) {
  .form__container {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
  }

  .left__box {
    padding-left: 0;
    margin-bottom: 20px;
  }

  .form__socials {
    width: 100%;
    gap: 10px;
  }

  .form__input {
    width: 100%;
  }

  .form__btn {
    width: 100%;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .form__title {
    font-size: 28px;
  }

  .form__text {
    font-size: 16px;
    line-height: 24px;
  }

  .form__socials {
    flex-direction: column;
  }

  .form__input,
  .form__btn {
    width: 100%;
    height: 45px;
  }
}
