@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    overflow-y: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* 1 2 3 4 5 6 7 8 9 10*/
/* 11 12 13 15 14 16 17 18 19 20*/
/* 21 22 23 24 25*/