
.shops-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 20px 40px;
  margin-top: 50px;
}

.shop-card {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: transform .3s ease;
}

.shop-card:hover {
  transform: translateY(-8px);
}

.shop-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .4s ease;
}

.shop-card:hover .shop-img {
  transform: scale(1.15);
  filter: brightness(55%);
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  transition: .3s ease;
}

.shop-card:hover .overlay {
  background: rgba(0,0,0,0.4);
}


.hover-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  font-size: 45px;
  color: #fff;
  opacity: 0;
  transition: .35s ease;
}

.shop-card:hover .hover-icon {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
